
<head>
    <!-- Link to stylesheets -->
    <link rel="stylesheet" href="/stylesheets/partials.css">
    <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <%- include('./layouts/boilerplate') %>

    <div class="container mt-4">
        <div class="row">
            <h1 class="text-center mb-4">Add Your Walk</h1>
            <div class="col-md-6 offset-md-3">
                <!-- Display flash messages -->
                <div class="mb-3">
                    <% if (success_msg) { %>
                        <div class="alert-success"><%= success_msg %></div>
                    <% } %>
                    <% if (error_msg) { %>
                        <div class="alert-danger"><%= error_msg %></div>
                    <% } %>
                </div>
                <form id="walkForm" action="/new" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="title" required>
                        <div class="invalid-feedback">
                            Please provide a title.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="distance">Distance</label>
                        <input class="form-control" type="text" id="distance" name="distance" required>
                        <div class="invalid-feedback">
                            Please provide content
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="difficulty">Difficulty</label>
                        <input class="form-control" type="text" id="difficulty" name="difficulty" required>
                        <div class="invalid-feedback">
                            Please provide content
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="location" required>
                        <div class="invalid-feedback">
                            Please provide a location.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Image</label>
                        <div class="form-file">
                            <input type="file" class="form-file-input" id="image" name="image" required>
                            <label class="form-file-label" for="image">
                                <span class="form-file-text">Choose image...</span>
                                <span class="form-file-button">Browse</span>
                            </label>
                            <div class="invalid-feedback">
                                Please choose an image.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Add Walk</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<!-- Link to the external JavaScript file -->
<script src="/js/formHandler.js"></script>
    
    <%- include('./partials/footer') %>
</body>

